vgg_rec_img.py
__pycache__/
robork/
latex/tesi.fdb_latexmk
latex/tesi.fls
latex/tesi.log
latex/tesi.out
latex/tesi.aux
latex/intro.aux
latex/cap1.aux
latex/cap2.aux
latex/cap3.aux
latex/cap4.aux
latex/conclusioni.aux
latex/futuredev.aux
latex/tesi.synctex.gz
latex/tesi.bbl
latex/tesi.blg
latex/tesi.lof
latex/tesi.lot
latex/tesi.toc
temp.png
1.png
2.png
3.png
4.png
5.png
6.png
7.png
8.png
9.png
10.png
11.png
